<h1><%= @file_name %></h1>

<pre id="json"></pre>

<a href="/admin/index">Перейти к списку шаблонов</a>

<script>

  var data = <%= @file %>;

document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);
</script>