<h1>new template</h1>
<form action="/create" method="post" accept-charset="UTF-8">
  Template_name:<br>
  <input type="text" name="name" value=""><br>
  Body:<br>
  <input type="text" name="template_attributes" value="" style="height: 100px; width: 300px;"><br><br>
  <input type="submit" value="create">
</form>