<h1>Arhitector</h1>
<% @templates.each do |template| %>
  <p><%= template %> 
    <a href="/admin/delete/<%= template %>">delete</a>
    <a href="/admin/show/<%= template %>">show</a>
    <a href="/admin/edit/<%= template %>">edit</a>
  </p>
<% end %>
