<h1>Arhitector</h1>
<% @templates.each do |template| %>
  <p><%= template %> 
    <a href="/delete/<%= template %>">delete</a>
    <a href="/show/<%= template %>">show</a>
    <a href="/edit/<%= template %>">edit</a>
  </p>
<% end %>
