<!DOCTYPE html>
<html>
  <head>
    <title>MessageTemplates</title> 
  </head>
  <body>

    <a href="/admin/index">index</a> <a href="/admin/new">new template</a>

    <%= yield %>

  </body>
</html>
