<!DOCTYPE html>
<html>
  <head>
    <title>MessageTemplates</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.12.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>

    <%= render 'navbar.html.erb' %>

  <div class="container layout-container">
    <%= yield %>
  </div>

    <%= render 'footer.html.erb' %>

  </body>
</html>
