<h1><%= @file_name %></h1>

<pre id="json"></pre>

<script>
  function IsJsonString(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
  }

  var data = <%= @file %>

  IsJsonString(data);


document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);
</script>